@{
    ViewBag.Title = "Գլխավոր";
}

<div class=" eph">
    <div class="container">
        @Html.Action("PartialWelcomeSection","Home")
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="content">
                <div class="col-lg-3 ">

                    @Html.Action("PartialSidebar","Faculties")

                    <div class="w3-bar-block">
                        <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-book" aria-hidden="true"></i>&nbsp; ԵՊՀ ԻՄ-Ի ՄԱՍԻՆ</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; Դիմորդ</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; Շրջանավարտ</a><br><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.Action("PartialSlideshow","Home")
                </div>
                <div class="col-lg-3 ">
                    @Html.Action("PartialSidebar","Account")
                    <div class="w3-bar-block">
                        <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-book" aria-hidden="true"></i>&nbsp; ԳՐԱԴԱՐԱՆ</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; Էլեկտրոնային պաշարներ</a>
                        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;Օգտվելու կարգը</a><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="news">
        <div class="text-center">
            <h3>ՆՈՐՈՒԹՅՈՒՆՆԵՐ</h3>
        </div>
        @Html.Action("PartialSection","Articles",new { order="date",sort="desc"})
    </div>
</div>

@Html.Action("PartialSection","About")